#header-text {
    font-size: 2rem;
}

.example-card {
    max-width: 250px;
    margin: 15px;
    word-wrap: break-word;
  }

  .imageTest { 
    position: relative; 
    width:300px; /* for IE 6 */
 }
 
 .h2Test { 
    position: absolute; 
    top: 200px; 
    left: 0; 
    width: 100%; 
 }


  