<div class="jumbotron p-3 p-md-5 text-white rounded bg-dark">
  <div class="col-md-12 px-0" (click)="headerRedirect()">
    <h6 id="header-text" class="display-4 font-italic">{{article.title}}</h6>
    <div [froalaView]="editorContent" class="d-flex justify-content-center"></div>
    <p class="lead mb-0 text-white font-weight-bold">Citeste mai mult...</p>
  </div>
</div>

<!--[style.background.color]="article1Of4.mainImgUrl.length >  0 ? 'red' : 'green'" -->

  <div class="row mb-2 d-flex justify-content-center">

      <mat-card class="example-card" (click)="header1Of4Redicerc()">
          <mat-card-header>
            <mat-card-title><H4>{{article1Of4.title}}</H4></mat-card-title>
            <mat-card-subtitle>{{article1Of4.category}}</mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image  src="{{article1Of4.mainImgUrl}}"  alt="Photo of a Shiba Inu" *ngIf="imgLen1Of4 > 0">
          <mat-card-content>
              <div [froalaView]="editorContent1Of4" class="d-flex justify-content-center"></div>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button>LIKE</button>
            <button mat-button>SHARE</button>
          </mat-card-actions>
        </mat-card>

        
        <mat-card class="example-card" (click)="header2Of4Redicerc()">
            <mat-card-header>
              <mat-card-title><H4>{{article2Of4.title}}</H4></mat-card-title>
              <mat-card-subtitle>{{article2Of4.category}}</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image  src="{{article2Of4.mainImgUrl}}"  alt="Photo of a Shiba Inu" *ngIf="imgLen2Of4 > 0">
            <mat-card-content>
                <div [froalaView]="editorContent2Of4" class="d-flex justify-content-center"></div>
            </mat-card-content>
            <mat-card-actions>
              <button mat-button>LIKE</button>
              <button mat-button>SHARE</button>
            </mat-card-actions>
          </mat-card>

          
          <mat-card class="example-card" (click)="header2Of4Redicerc()">
              <mat-card-header>
                <mat-card-title><H4>{{article2Of4.title}}</H4></mat-card-title>
                <mat-card-subtitle>{{article2Of4.category}}</mat-card-subtitle>
              </mat-card-header>
              <img mat-card-image  src="{{article2Of4.mainImgUrl}}"  alt="Photo of a Shiba Inu" *ngIf="imgLen2Of4 > 0">
              <mat-card-content>
                  <div [froalaView]="editorContent2Of4" class="d-flex justify-content-center"></div>
              </mat-card-content>
              <mat-card-actions>
                <button mat-button>LIKE</button>
                <button mat-button>SHARE</button>
              </mat-card-actions>
            </mat-card>
            
            <mat-card class="example-card" (click)="header1Of4Redicerc()">
                <mat-card-header>
                  <mat-card-title><H4>{{article1Of4.title}}</H4></mat-card-title>
                  <mat-card-subtitle>{{article1Of4.category}}</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image  src="{{article1Of4.mainImgUrl}}"  alt="Photo of a Shiba Inu" *ngIf="imgLen1Of4 > 0">
                <mat-card-content>
                    <div [froalaView]="editorContent1Of4" class="d-flex justify-content-center"></div>
                </mat-card-content>
                <mat-card-actions>
                  <button mat-button>LIKE</button>
                  <button mat-button>SHARE</button>
                </mat-card-actions>
              </mat-card>
              


  </div>