<div class="jumbotron p-3 p-md-5 text-white rounded bg-dark">
  <div class="col-md-12 px-0">
    <h6 id="header-text" class="display-4 font-italic">Dragnea pregătește lovitura pentru Klaus Iohannis. Ce va face liderul PSD dacă Președintele nu o va revoca pe Laura Codruța Kovesi din funcție</h6>
    <p class="lead my-3">PSD pune la cale un nou atac la adresa președintelui Klaus Iohannis. Dacă acesta refuză revocarea Laurei Codruța Koesi din funcție, atunci puterea se va adresa Curții Constituționale din România. </p>
    <p class="lead mb-0"><a href="#" class="text-white font-weight-bold">Vezi articolul...</a></p>
  </div>
</div>
