<div class="container text-center">
<br>
<br>
<br>
<img src="{{logo}}">
<h1>Proiect Programare Web</h1>
<h3>Grupa:TI4351</h3>
<h3>Student:Deviza Vasile</h3>
<h5>Cod Sursa: <a target="_blank" href="https://github.com/DevizaVasile/angular-news-website">https://github.com/DevizaVasile/angular-news-website</a> </h5>
<h5>Tehnologii utilizate</h5>
<ul class="list-group">
    <li class="list-group-item">Angular CLI</li>
    <li class="list-group-item">Angular 5</li>
    <li class="list-group-item">Google FireBase API</li>
    <li class="list-group-item">Google Auth API</li>
    <li class="list-group-item">RxJs library</li>
</ul>
<p></p>
</div>