<div class='container'>


    <form class="example-form">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Title" value="" [(ngModel)]="title" name="title" required>
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input matInput placeholder="Coperta (URL)" value="" [(ngModel)]="imgUrl" name="imgUrl" required>
        </mat-form-field>
      </form>
      


<div [froalaEditor]='options' [(froalaModel)]="editorContent"></div>

<br>

<app-drag-and-drop-tags></app-drag-and-drop-tags>

<br>

<button mat-button class="aling-center" (click)="getData($event)">Adauga articol</button>

</div>
