<div class='container'>


    <form class="example-form">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Title" value="" [(ngModel)]="title" name="title" required>
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input matInput placeholder="Coperta (URL)" value="" [(ngModel)]="imgUrl" name="imgUrl" required>
        </mat-form-field>
      </form>
      


<div [froalaEditor]='options' [(froalaModel)]="editorContent"></div>

<br>
<h4>Category</h4>
<mat-form-field>
    <mat-select [(value)]="category">
      <mat-option value="option1">Option 1</mat-option>
      <mat-option value="option2">Option 2</mat-option>
      <mat-option value="option3">Option 3</mat-option>
    </mat-select>
  </mat-form-field>

<br>

<app-drag-and-drop-tags></app-drag-and-drop-tags>

<br>

<button mat-button class="aling-center" (click)="getData($event)">Adauga articol</button>

</div>
