<app-navigation></app-navigation>

<div class="container">

    <h2 class="text-center p-2 m2">{{($articleToDisplay | async)?.title}}</h2>
   
    <div class="d-flex justify-content-center"> 
      <img *ngIf="imglenght > 0" [src]="imgUrl" class="img-responsive img-thumbnail align-center" align="align-right" >
    </div>

    <div>
      <div [froalaView]="editorContent" class=" justify-content-center"></div>
    </div>

    <div>
      <p *ngFor="let tag of tags">{{tag}}</p> 
    </div>


    <hr>

</div>


<app-footer></app-footer>


