<div class="container">
<mat-card>
  <mat-card-content>
    <h2 class="example-h2 text-center">Admin Panel</h2>
    <br>
    <mat-tab-group class="demo-tab-group">

      <mat-tab label="New Post">
        <div class="demo-tab-content"> 
          <app-new-post></app-new-post>
        </div>
      </mat-tab>

      <mat-tab label="Manage Tags">
          <div class="demo-tab-content">
            <app-tag-editor></app-tag-editor>
          </div>  
      </mat-tab>

      <mat-tab label="Dashboard">
        <div class="demo-tab-content">
          <app-dashboard></app-dashboard>
        </div>  
      </mat-tab>


      <mat-tab label="Database">
        <div class="demo-tab-content">
         <app-database></app-database>
        </div>  
      </mat-tab>


      
      <mat-tab label="Tab 5">
        No content  
      </mat-tab>
      <mat-tab label="Tab 6"disabled>
        No content  
      </mat-tab>
    </mat-tab-group>
  </mat-card-content>
</mat-card>

</div>