<app-navigation></app-navigation>

<div class="container">
    <p class="text-center">{{postCategory}}</p>


    <div class="row mb-4  d-flex justify-content-center">
        <mat-card *ngFor="let article of articles | async | reverse" class="example-card" (click)="goToArticle(article)" >
            <mat-card-header>
              <mat-card-title><H5>{{article.title}}</H5></mat-card-title>
              <mat-card-subtitle>{{article.category}}</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image  src="{{article.mainImgUrl}}"  alt="Photo of a Shiba Inu" *ngIf="imgLen1Of4 > 0">
            <mat-card-content>
                {{article.mainImgUrl}}
            </mat-card-content>
          </mat-card>
    </div>



<app-footer></app-footer>